* {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-mob {
  display: none;
}

.header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
  z-index: 500;
  width: 100%;
}

.header_logo-box {
  display: flex;
  align-items: center;
  color: #333;
  gap: 15px;
  transition: color .3s;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -ms-transition: color .3s;
  -o-transition: color .3s;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.header_links {
  display: flex;
  cursor: pointer;

}

.header_link {
  padding: 15px 35px;
  color: #333;
  transition: color .3s;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -ms-transition: color .3s;
  -o-transition: color .3s;
}

.header_link:hover {
  color: #ff9800;
}

.heading-first {
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
  color: #111;
  font-weight: 800;
}

li {
  list-style-type: none;
}

.active {
  color: #ff9800;
}

.text-centered {
  color: #333;
  font-size: 25px;
  text-align: center;
  width: 100%;
}

#home-hero {
  height: 100vh;
  position: relative;
}

.vanta {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 
#home-hero::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background: url('./Pages/Home/bg.jpg');
  background-size: cover;
  position: absolute;
  opacity: 0.1;
  filter: blur(1px) grayscale(1);
  -webkit-filter: blur(1px) grayscale(1); */
/* } */

#home-hero_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: #ff9800;
  margin-top: 25px;
  font-size: 16px;
  width: 300px;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
  transition: transform .3s;
  text-align: center;
  cursor: pointer;
  border: none;
}

.btn:hover {
  box-shadow: 0 5px 15px rgb(125, 125, 125);
  background: #424242;
  color: #ff9800;
}

.btn:hover .link {
  color: #ff9800;
}

#home-hero_content .btn {
  display: flex;
  padding: 0;
  height: 53px;
}

.link {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
  color: #424242;

}

#about {
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

.heading-second {
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}

.about_content {
  display: flex;
  width: 100%;
  gap: 75px;
  flex-direction: row;
  margin-top: 60px;
}

.about-content_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  font-size: 16px;
}

.heading-third {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.link-in-text {
  color: #ff9800;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skills_skill {
  padding: 10px 15px;
  font-size: 18px;
  background: white;
  border: solid;
  border-color: #ff9800;
  border-radius: 5px;
  font-weight: 600;
  color: #424242;
  cursor: pointer;
}

.skills_skill:hover {
  box-shadow: 0 5px 15px rgb(125, 125, 125);
  background: #424242;
  color: #ff9800;
}

#projects {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  gap: 50px;
}

#projects-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.project {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  justify-content: space-around;
}

.sub {
  font-size: 18px;
}

.text-centered_small {
  font-size: 18px;
  color: #333;
  text-align: center;
  width: 100%;
}

.img-project_box {
  display: flex;
  width: 550px;
  height: 343px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.img-project {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: 0px top;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.project_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.project_text .btn {
  width: 170px;
  margin-top: 14px;
}

.project_text .link {
  padding: 10px;
}

#contact {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 30px 60px;
  height: 100vh;
  background-color: #f6f6f6
}

.contact_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact .text-centered {
  margin-bottom: 15px;
}

#contact .btn {
  margin-top: 70px;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #000;
  color: #fff;
  padding: 30px 60px;
  padding-bottom: 0;
}

.footer .heading-third,
.footer .sub {
  color: white;
}

.footer-content {
  display: flex;
  gap: 200px;
}

.footer_content-block {
  display: flex;
  flex-direction: column;
}

.footer_content_block-icons {
  display: flex;
  width: 100%;
}

.footer_content_block-icons {
  display: flex;
  gap: 7px;
  align-items: center;
}

.footer_content_block-icon {
  width: 30px;
  height: 30px;
}

.linkedin {
  align-items: center;
  width: 25px;
  height: 25px;
}

.link-footer {
  display: flex;
}

.footer .heading-third {
  margin-bottom: 10px;
}

#copyrights {
  color: white;
  align-self: left;
  margin-top: 50px;
}

.link-rights {
  cursor: default;
  font-size: 5px;
}

/* Lightbox */
.modal-wrapper-show {
  position: fixed;
  display: flex;
  color: black;
  background-color: rgba(125, 125, 125, 0.306);
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  opacity: 0;
  animation: ani 1s forwards;
  -webkit-animation: ani 1s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.lightbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 85%;
  height: 85%;
  gap: 15px;
  background-color: white;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  padding: 45px;
  transition: all 0.3s;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.modal-wrapper {
  opacity: 0;
}

.cross {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.cross b {
  color: #424242;
}

.cross:hover,
.chevron-left:hover,
.chevron-right:hover {
  transition-duration: 0.3s;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.slideshow {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  align-items: center;
  max-height: 85%;
}

.slideshow-img {
  width: auto;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


.chevron-left,
.chevron-right {
  position: absolute;
  cursor: pointer;
  bottom: 50%;
  width: 25px;
}

.slideshow-text {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.chevron-left {
  left: 10px;
}

.chevron-right {
  right: 10px;
}

.technologies {
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 415px) {
  .header_links {
    display: none;
  }

  .header-mob {
    display: flex;
    position: absolute;
    right: 20px;
  }

  .header-mob-icon {
    width: 30px;
  }

  .header_mob-nav {
    position: absolute;
    width: 100%;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: right;
    background-color: white;
    text-align: right;
    opacity: 0;
    animation: ani 1s forwards;
    -webkit-animation: ani 0.5s forwards;
  }

  .header_mob-nav-box {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .header_mob-nav-list {
    display: flex;
    padding: 25px 0px;
    border-bottom: solid 0.5px;
    border-color: rgba(0, 0, 0, .15);
  }

  .header_link {
    width: 100%;
    font-size: 21px;
  }

  .icon-hidden {
    display: none;
  }

  #home-hero_content {
    gap: 30px;
  }

  .heading-first {
    font-size: 40px;
  }

  .text-centered {
    font-size: 18px;
  }


  .btn {
    font-size: 18px;
    width: 215px;
    align-self: center;
  }

  #home-hero_content .btn {
    margin-top: 30px;
  }

  #about {
    padding: 20px 20px;
  }

  .heading-second {
    font-size: 30px;
  }

  .about_content {
    flex-direction: column;
  }

  .about-content_block {
    width: 100%;
    align-items: center;
  }

  .sub {
    font-size: 18px;
    text-align: center;
  }

  #projects {
    padding: 40px 20px;
    gap: 20px;

  }

  .project {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .img-project_box {
    width: 100%;
  }

  .img-project {
    object-position: 0px top;
  }

  .project_text {
    width: 100%;
  }

  .heading-third {
    text-align: center;
    font-size: 20px;
  }

  #projects-list {
    gap: 70px;
  }

  #contact {
    padding: 20px 20px;
    height: 70vh;
  }

  .contact_content {
    width: 100%;
  }

  .footer {
    padding: 20px 20px;
    text-align: left;
  }

  .footer_content_block-icons {
    gap: 15px;
  }

  .footer_content-block {
    align-items: baseline;
  }

  .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .footer .heading-third {
    margin-bottom: 5px;
  }

  /* Lightbox */
  .lightbox {
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    gap: 15px;
  }

  .technologies {
    flex-wrap: wrap;
  }

  .skills_skill {
    padding: 4px 8px;
  }

  .chevron-left,
  .chevron-right {
    width: 18px;
  }

  .chevron-right {
    right: 5px;
  }

  .chevron-left {
    left: 5px;
  }

  .slideshow-text {
    display: none;
  }

}